<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home" color="tertiary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">media</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://img.freepik.com/vector-gratis/lindo-personaje-dibujos-animados-chica-asiatica_1308-133427.jpg" />
  </ion-avatar>

<ion-chip>
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://png.pngtree.com/png-clipart/20220220/original/pngtree-brown-long-hair-girl-character-avatar-png-image_7272584.png" />
  </ion-avatar>
  <ion-label>Sandra Yamileth</ion-label>
</ion-chip>

<ion-item>
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="https://previews.123rf.com/images/jemastock/jemastock1702/jemastock170203022/71265366-chico-joven-cara-icono-de-dibujos-animados-sobre-fondo-blanco-dise%C3%B1o-colorido-ilustraci%C3%B3n.jpg" />
  </ion-avatar>
  <ion-label>Andi Ramirez</ion-label>
</ion-item>

</ion-content>
