<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home" color="tertiary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alert</ion-title>
    </ion-toolbar>
  </ion-header>

  

</ion-content>
