<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar mode="ios">
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item routerLink="/accordion">
      <ion-label>Accordion</ion-label>
    </ion-item>
    <ion-item routerLink="/badge">
      <ion-label>Badge</ion-label>
    </ion-item>
    <ion-item routerLink="/button">
      <ion-label>Button</ion-label>
    </ion-item>
    <ion-item routerLink="/card">
      <ion-label>Card</ion-label>
    </ion-item>
    <ion-item routerLink="/media">
      <ion-label>Media</ion-label>
    </ion-item>
    <ion-item routerLink="/menu">
      <ion-label>Menu</ion-label>
    </ion-item>
    <ion-item routerLink="/list">
      <ion-label>List</ion-label>
    </ion-item>
    <ion-item routerLink="/select">
      <ion-label>Select</ion-label>
    </ion-item>
    <ion-item routerLink="/tabs">
      <ion-label>Tabs</ion-label>
    </ion-item>
    <ion-item routerLink="/toast">
      <ion-label>Toast</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
